# Shared
NODE_ENV=development

# API
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/c4"
REDIS_URL="redis://localhost:6379"
OPENAI_API_KEY="sk-xxxxx"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:3000/oauth2callback"
SENTRY_DSN=""

# Mobile
EXPO_PUBLIC_API_URL="http://localhost:3000/api"
